In [2]:
our_list=[27,46.9,-5,"A","True",True]

[Definition](https://book.pythontips.com/en/latest/enumerate.html) Enumerate allows us to loop over iterable items and generates an automatic counter.

Write anything and run in Markdown mode [Link](https://book.pythontips.com/en/latest/enumerate.html)

In [5]:
for k,v in enumerate(our_list):
    print(k,v)

0 27
1 46.9
2 -5
3 A
4 True
5 True

In [6]:
print(type(our_list))

<class 'list'>

In [7]:
print(our_list[0:3])

[27, 46.9, -5]

In [8]:
#Nested list
our_list=[1,2,[3,4,5],6,7,8]

In [9]:
print(our_list[2:])

[[3, 4, 5], 6, 7, 8]

In [10]:
print(our_list[2][0])

3

In [11]:
our_table=[[1,2,3],[4,5,6],[7,8,9]]
print(our_table[0])
print(our_table[1][0], our_table[2][1])
print(our_table[2][:2])

[1, 2, 3]
4 8
[7, 8]

In [12]:
# Recognition
print(2 in our_table)
print([1,2,3] in our_table)

False
True

In [13]:
# Remove a known content from List by method remove() or delete an index by function del
our_table[0].remove(2)
print(our_table)
del our_table[0][1:]
print(our_table)

[[1, 3], [4, 5, 6], [7, 8, 9]]
[[1], [4, 5, 6], [7, 8, 9]]

In [14]:
# Add a known content to List by method append()
our_table[0].append(2)
print(our_table)

[[1, 2], [4, 5, 6], [7, 8, 9]]

In [15]:
our_table[0].append(3)
print(our_table)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
print(our_table+[1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 1]

In [17]:
our_table=our_table[0]+[1]
print(our_table)

[1, 2, 3, 1]

In [18]:
# Add a known index to List by method insert()
our_table=[5,12,31,49,72]
print(our_table)
our_table.insert(2,100)
print(our_table)

[5, 12, 31, 49, 72]
[5, 12, 100, 31, 49, 72]

In [19]:
#Tuples
our_tuple=1,2,3,'A','B','C'
print(our_tuple)

(1, 2, 3, 'A', 'B', 'C')

In [20]:
# Tuples cannot be changed unlike Lists
A=[1,2,3]
print(type(A))
A=tuple(A)
print(A,type(A))

<class 'list'>
(1, 2, 3) <class 'tuple'>

In [21]:
#Dictionary{keys:values}
students={}
students={"Alice":25,"Bob":27,"Clair":17}
print(students)
print(students["Bob"])

{'Alice': 25, 'Bob': 27, 'Clair': 17}
27

In [22]:
print(students.keys())

dict_keys(['Alice', 'Bob', 'Clair'])

In [23]:
print(students.values())

dict_values([25, 27, 17])

In [24]:
# To change any of keys or values, convert the dictionary keys() and values() to List
a=list(students.keys())
print(a[:],a[1:],a[:1])

['Alice', 'Bob', 'Clair'] ['Bob', 'Clair'] ['Alice']

In [25]:
b=list(students.values())
print(b[:],b[1:],b[:2])

[25, 27, 17] [27, 17] [25, 27]

In [26]:
c=students.items()
print(c)
print(type(c))

dict_items([('Alice', 25), ('Bob', 27), ('Clair', 17)])
<class 'dict_items'>

In [27]:
# Multiple values for each key in a List
students={"Alice":["ID1",25,"A"],"Bob":["ID2",27,"B"],"Clair":["ID3",17,"C"]}
print(students["Clair"])
print(students["Clair"][0])
print(students["Clair"][1:])

['ID3', 17, 'C']
ID3
[17, 'C']

In [28]:
# Give each key a dictionary
students={"Alice":{"id":"ID001","age":25,"grade":"A"},"Bob":{"id":"ID002","age":27,"grade":"B"},"Clair":{"id":"ID003","age":17,"grade":"C"}}
print(students["Clair"])
print(students["Clair"]["age"],students["Alice"]["grade"])

{'id': 'ID003', 'age': 17, 'grade': 'C'}
17 A